# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
obj/
bin/
*.user
*.suo
*.userosscache
*.sln.docstates
taskfueluploader-097ea40f8784.json
service-account.json
launchSettings.json
taskfuelrepo-1844dd16e91c.json
raymaroutgoingemail-b680de6e57a4.json
appsettings.Development.json